
.button,
[type='button'],
[aria-role='button'] {
    display: flex;
    padding: .75em 1.25em;

    appearance: none;
    background: #ccc;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: .8125rem;
    text-transform: uppercase;


}

.button--has-icon {
    padding-left: 0.875em;
    display: flex;
    align-items: center;

    .icon {
        margin-right: .75em;
    }
}
