.list {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list--unstyled {
    list-style-type: none;
    padding-left: 0;
}

.list--blocked {
    > li {
        background: #fff;
        margin-bottom: .25rem;
        padding-left: 1em;
        box-shadow: 0 0 0 0 rgba(0,0,0,.2);
        transition: all .25s ease-in;
        &:hover {
            box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
            transform: scale(1.025);
        }
    }
}
.list--relaxed {
    > li {
        padding-top: .5em;
        padding-bottom: .5em;
    }
}
