@import 'utilities/flexbox';
@import 'utilities/accessibility';
@import 'components/media';

:root {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  --space-1: .5rem;

  * { box-sizing: border-box; }
}

body {
    background: #f7f7f7;
}


h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;

    .content & {
        margin-top: 1.2em;
    }
}

// TODO: Make into a component
.container {
    position: relative;
    width: 360px;
    margin: 0 auto;
}

// TODO: Make into a component
.header {
    position: relative;
    margin-bottom: 1rem;
}

// TODO: Make into a component
.section-controls {
    margin-bottom: 1rem;
}

.section-controls > * {
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }
}

