[type='text'] {
  display: block;
  padding: 0.5rem;
  width: 100%;

  appearance: none;
  border: 2px solid #cccccc;
  border-radius: 0;
  background-color: #fcfcfc;
  color: #0a0a0a;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
}


